* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-size: 12pt; font-family: Calibri; color: #333; width: 600px; padding: 0.5em; }
h2 { font-size: 1.3em; padding: 0.3em; border-bottom: 1px solid darkgrey; }
h2:last-of-type { margin-top: 1em; }
h2 span { font-weight: normal; font-style: italic; color: #999; float: right; font-size: 0.8em; line-height: 1.5em; }
p { padding: 0.5em; }
p.save-row { display: flex; }
input#save-name { font-size: 1em; line-height: 2em; height: 2em; border: none; border-radius: 2px; background-color: #f0f0f0; padding: 0 0.5em; width: 100%; outline: none; float: left; }
button { font-size: 1em; line-height: 2em; height: 2em; color: white; background-color: lightslategrey; border: none; border-radius: 2px; padding: 0 0.8em; float: right; margin-left: 0.5em; outline: none; }
button:active { background-color: #af912c; }
#load-area { max-height: 300px; overflow: auto; }
#placeholder { padding: 1em; text-align: center; font-style: italic; color: #aaa; }
.load-row { padding: 0.5em; display: flex; width: 100%; border-bottom: 1px solid #eee; }
.load-row:last-of-type { border-bottom: none; }
.load-row span { font-size: 1.1em; line-height: 1.8em; height: 1.8em; width: 100%; overflow: hidden; white-space: nowrap; }
.load-row img { float: right; margin: 0.5em 0.5em 0.5em 1em; }
.load-row label { white-space: nowrap; padding: 5px; }
.load-row label input { vertical-align: -2px; }
.load-row.active { background-color: #f9f9f9; }
.load-row.active span { width: 73%; font-weight: bold; }
button.set-load { background-color: #81c784; }
button.set-load:hover { background-color: #66bb6a; }
button.set-save, button#save-button { background-color: #4fc3f7; }
button.set-save:hover, button#save-button:hover { background-color: #29b6f6; }
button.set-delete { background-color: #ff8a65; }
button.set-delete:hover { background-color: #ff7043; }

/* Sweet Alert */
.swal-button { padding: 0 24px !important; border-radius: 2px !important; background-image: none !important; }
.swal-button:hover {color: white !important; }
.swal-modal { border-radius: 2px !important; }
.swal-overlay--show-modal .swal-modal { animation: unset !important; }
.confirm-delete-dialog .swal-button--confirm { background-color: #ff8a65; }
.confirm-delete-dialog .swal-button--confirm:hover { background-color: #ff7043; }